/getfreq
/getfreq.o
/getsigs
/getsigs.o
/init
/init.o
/miraclelib.o
/off
/off.o
/on
/on.o
/setfreq
/setfreq.o
/setpwr
/setpwr.o
/setsamplerate
/setsamplerate.o
/setsig
/setsig.o
/stat
/stat.o
/sysoff
/sysoff.o
/syson
/syson.o
